@mixin flex(
  $direction: row,
  $justify: center,
  $align: center,
  $gap: 10px
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin heading(
  $bg:black
) {
  width:80px;
  height:80px;
  border-radius: 100%;
  background-color: $bg;
  color: white;
  @include flex;
}